<template name="main">
	<head>
		<title>The Variety</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<header>
					{{> navigation}}
				</header>
				{{> errors}}
			</div>
			<div class="row">
				<section class="col-md-8">{{> yield}}</section>
				<section class="col-md-4">{{> twitchChat}}</section>
			</div>
			<div class="row">
				<footer class="col-md-12">
					<hr />
					<div class="footer">
						<p>JeyZu <sup>inc.</sup></p>
					</div>
				</footer>
			</div>
		</div>
	</body>
</template>